body {
	font: normal 18px/24px Cuprum, "Arial", sans-serif;
	color: #000000;
	min-width: 960px;
	margin: 0 auto;
}

h2 {
	font: normal 30px Cuprum, "Arial", sans-serif;
	line-height: 24px;
	color: #000000;
	text-transform: uppercase;
}

h3 {
	font: bold 18px "PT Sans", "Tahoma", sans-serif;
	line-height: 20px;
	color: #000000;
	background-color: #FFFFFF;
}

.inner {
	margin: auto;
	width: 940px;
	padding-left: 10px;
	padding-right: 10px;
}

header {
	background-color: #F1F5F7;
}

.header-top {
	background-color: #293449;
	height: 42px;
	line-height: 42px;
}

.logo {
	float: left;
	background-color: #EE3643;
	color: #ffffff;
	/*padding: 0 56px;*/ 
	width: 220px;
	text-align: center;
	line-height: 42px;
	text-transform: uppercase;
	text-decoration: none;
	box-shadow: 0 6px 0 0px #B52933;
	transition: 250ms;
	font-size: 24px;
/*	margin-right: 18px;*/
}
.logo[href]:hover {
	background-color: #ca2c37;
}
.logo[href]:active{
	background-color: #ba2732;
}

.header-search {
	float: left;
	position: relative;
}

.header-search-input {
	outline: none;
	border: none;
	width: 270px;
	height: 42px;
	line-height: 42px;
	padding-left: 48px;
	margin: 0;
	vertical-align: top;
	background-color: transparent;
	color: #ffffff;
	font: normal 17px Cuprum,"Arial",sans-serif;
	box-sizing: border-box;

	transition: background-color 250ms;
}
.header-search-input::-webkit-input-placeholder {
	color:#fff;
}

.header-search-input::-moz-placeholder {
	color:#fff;
}

.header-search-input:-ms-input-placeholder {
	color:#fff;
}

.header-search-button {
	border:none;
	padding: 0;
	margin: 0;
	width: 42px;
	height: 42px;
	font-size: 0;
	background: url(../img/search.png) 17px center no-repeat;
	position: absolute;left: 0;top: 0;
	cursor: pointer;
	color:rgba(0,0,0,0);
	opacity: 0.3;
	transition: opacity 250ms;
}
.header-search-input:hover ~ .header-search-button {
	opacity: 1;
}
.header-search-input:focus {
	background-color: #fff;
	color: #000;
}
.header-search-input:focus ~ .header-search-button {
	background-image: url(../img/search-focus.png);
	opacity: 1;
}

.search-btn {
	background-color: #293449;
}

.header-cart-wrapper {
	float: right;
	font-size: 0;
}

.header-bookmark,
.header-cart {
	color: #ffffff;
	text-decoration: none;
	display: inline-block;
	height: 42px;
	line-height: 42px;
	padding-left: 25px;
	position: relative;
	font-size: 17px;
}
.header-cart {
	padding-right: 29px;
	/* padding-left: 50px; */
	padding-left: 46px;
}
.header-cart--full {
	background: #ee3643;
}

.header-order {
	width: 150px;
	text-align: center;
	color: #ffffff;
	text-decoration: none;
	display: inline-block;
	height: 42px;
	line-height: 42px;
	position: relative;
	background-color: #63A63E;
	font-size: 17px;
	transition: 250ms;
}
.header-order:hover {
	background-color: #5fbb2d;
}
.header-order:active {
	background-color: #518534;
	color:rgba(255,255,255,.51)
}

.header-bookmark {
	margin-right: 28px;
}

.header-bookmark:before {
	content:'';
	width: 13px;
	height: 15px;
	background: url(../img/markbook.png) no-repeat;
	position: absolute;
	left: 0;
	top:50%;
	margin-top: -7.5px;
	opacity: 0.3;
}

.header-bookmark:hover:before {
	opacity: 1;
}

.header-bookmark:active:before {
	opacity: 0.5;
	color: #BABBBD;
}

.header-cart:before {
	content:'';
	width: 18px;
	height: 15px;
	background: url(../img/basket.png) no-repeat;
	position: absolute;
	left: 16px;
	top:50%;
	margin-top: -7.5px;
	opacity: 0.3;
}

.header-cart:hover:before{
	opacity: 1;
}

.header-cart:active:before{
	opacity: 0.5;
	color: #BABBBD;
}

.header-info {
	padding-top: 46px;
	padding-bottom: 65px;
}

.header-info-text {
	float: left;
	height: 70px;
	color: #ee3643;
	font: italic 16px Cuprum,"Arial",sans-serif;
	padding-left: 52px;
	line-height: 23px;
	padding-top: 3px;
}

.header-info-contacts {
	float: left;
	width: 290px;
	height: 70px;
	margin-left: 70px;
	font: normal 16px Cuprum,"Arial",sans-serif;
	color: #32425c;
}

.phone {
	height: 45px;
	line-height: 45px;
	position: relative;
	display: inline-block;
	border: 2px solid #fff;
	padding-top: 9px;
	padding-bottom: 9px;
	padding-left: 75px;
	padding-right: 56px;
	color: #e9292a;
	font: normal 20px Cuprum,"Arial",sans-serif;
	text-decoration: none;
	
	box-sizing: border-box;
}

.phone:before {
	content:'';
	width: 19px;
	height: 19px;
	background: url(../img/phone.png) no-repeat;
	position: absolute;
	left: 14px;
	top:50%;
	margin-top: -9.5px;
}
 .address {
	font: normal 14px Cuprum,"Arial",sans-serif;
	margin-top: 8px;
	padding-left: 10px;
 }

.login {
	width: 120px;
	height: 46px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 21px;
	line-height: 46px;
	position: relative;
	background-color: #fff;
	color: #000;
	margin-right: 10px;
	box-sizing: border-box;
	padding-left: 24px;
}

.login:before {
	content: "";
	width: 21px;
	height: 17px;
	background: url(../img/login.png) no-repeat;
	position: absolute;
	left: 15px;
	top: 50%;
	margin-top: -9.5px;
	opacity: 03;
}
.login:hover:before {
	background: url(../img/login--hover.png) no-repeat;
}
.login:active:before {
	background: url(../img/login.png) no-repeat;
}

.registration {
	width: 150px;
	height: 46px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	line-height: 46px;
	background-color: #fff;
	color: #000;
	font-size: 21px;
}

.header-info-links {
	float: right;
	width: 284px;
	height: 44px;
	text-decoration: none;
	text-align: center;
}
.header-info-links--loged {
	width: 300px;
}

.header-info-links a {
	text-decoration: none;
	color: #000000;
	transition: 250ms;
}
.header-info-links .login:hover, .header-info-links .registration:hover {
	color: #ee3643;
}
.header-info-links a:active {
	color: rgba(0,0,0,.3);
}

.header-nav {
	background-color: #32425C;
	margin-top: 39px;
	clear: both;
	box-shadow: 0 6px 0 0px #293449;
}

.header-nav a {
	display: inline-block;
	color: #ffffff;
	text-decoration: none;
	padding: 0px 28px;
	
	transition: 250ms;
}

.header-nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.header-nav li {
	display: inline-block;
	line-height: 55px;
	/*margin-right: 40px;*/
}

.header-nav ul{
	padding-left: 25px;
}

.header-nav a:hover {
	background-color: #293449;
}

.header-nav a:active {
	background-color: #1D2739;
	color: #464D5A;
}

main {
	margin-top: 60px;
}

.inner-page {
	margin: 0;
}

.section-slider {
	float: left;
	width: 620px;
	height: 266px;
	margin-right: 20px;
	position: relative;
}
.slide {
	position: relative;
	width: 100%;
	height: 100%;
}
.slide-img {
	position: absolute;left: 0;top: 0;
}
.slide-header {
	height: 105px;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 28px;
	box-sizing: border-box;
	position: relative;
}
.slide-title {
	font-size: 36px;
	text-transform: uppercase;
	margin: 0;
	font-family: Cuprum, sans-serif;
	font-weight: bold;
	white-space: nowrap;
	margin-bottom: 7px;
}
.slide-description {
	color: #fff;
	font-size: 18px;
	font-family: "PT Sans","Tahoma", sans-serif;
}
.slide-link {
	min-width: 146px;
	text-align: center;
	position: absolute;bottom: 22px;left: 25px;
}

.section-slider-prev, .section-slider-next {
	border: none;
	padding: 0;
	margin: 0;
	background: none;
	width: 22px;
	height: 40px;
 	position: absolute;
 	appearance:none;
 	font-size: 0;
 	color: transparent;
 	cursor: pointer;
}
.section-slider-prev {
	left: 25px;
	top:50%;
	margin-top: -20px;
	background-image: url(../img/left.png);
}
.section-slider-next {
	right: 19px;
	top:50%;
	margin-top: -20px;
	background-image: url(../img/right.png);
}
.slide-title {
	color: #fff;
}

.section-slider-blocks {
	float: left;
	width: 300px;
}

.section-slider-blocks .section {
	margin-right: 0;
}

.section-slider-blocks .section:last-child {
	margin-bottom: 0;
}

.section-title {
	font: bold 24px Cuprum,"Arial", sans-serif;
	color: #fff;
	margin-bottom: 13px;
}

.section-body a {
	min-width: 135px;
	text-align: center;
	line-height: 38px;
	display: inline-block;
	text-decoration: none;
	background-color: rgba(0,0,0,.1);
	border-radius: 4px;
  padding: 0 25px;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  transition: 250ms;
  box-sizing: border-box;
}
.section-body a:hover {
	background-color: rgba(0,0,0,.2);
}
.section-body a:active {
	background-color: rgba(0,0,0,.3);
}

.section {
	float: left;
	width: 300px;
	height: 123px;
	margin-right: 20px;
	margin-bottom: 20px;
	position: relative;
	padding: 22px;

	box-sizing: border-box;
}
.section--new:before {
	content:'';

	width: 60px;
	height: 60px;
	position: absolute;top: 0;right: 0;
	background-image: url(../img/label-new.png);
	background-repeat: no-repeat;
}

.section:last-child {
	margin-right: 0;
}

.section--material {
	background:#F6B22D url(../img/mat.png) no-repeat;
	background-position: 210px 28px;
}

.section--instrument {
	background: #4AAFDE url(../img/instrum.png) no-repeat;
	background-position: 196px 32px;
}

.section--mechanism {
	background: #CC79D1 url(../img/techn.png) no-repeat;
	background-position: 190px 32px;
}

.section--sale {
	background: #85D179 url(../img/bask.png) no-repeat;
	background-position: 196px 26px;
}

.section--delivery {
	background: #F6B22D url(../img/del.png) no-repeat;
	background-position: 190px 32px;
}

.products {}
.product {
	position: relative;
	overflow: hidden;
	transition: 250ms;
}
.product:hover {
	box-shadow: 0 5px 20px rgba(0,0,0,.5);
}

.product--new:before {
	content:'';
	width: 60px;
	height: 60px;
	position: absolute;top: 0;right: 0;
	background-image: url(../img/label-new.png);
	background-repeat: no-repeat;
	z-index: 1;
}

.product-hover {
	width: 100%;
	height: 180px;
	position: absolute;left: 0;top: 0;
	background-color: #fff;
	transform:translateY(-100%);
	opacity: 0;
	transition: 250ms;
	padding: 44px 42px 0;
	box-sizing: border-box;
}

.product:hover .product-hover {
	transform:translateY(-0);
	opacity: 1;
}

.product-hover-btn {
	border-radius: 3px;
	display: block;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
	font-family: Cuprum,"Arial", sans-serif;
}

.product-hover-btn--buy {
	border-bottom: 3px solid #367315;
	height: 35px;
	line-height: 38px;
	text-align: center;
	background: #63a63e;
	color: #fff;
	margin-bottom: 8px;
	overflow: hidden;
	padding-left: 48px;
	text-align: left;
	position: relative;
	transition: 250ms;
}

.product-hover-btn--buy:hover {
	background: #5fbb2d;
}

.product-hover-btn--buy:active {
	background-color: #367315;
}

.product-hover-btn--buy:before {
	content:'';
	width: 18px;
	height: 15px;
	background: url(../img/basket.png) no-repeat;
	position: absolute;
	left: 16px;
	top:50%;
	margin-top: -7.5px;
	opacity: 0.3;
	transition: 250ms;
}

.product-hover-btn--buy:hover:before{
	opacity: 1;
}

.product-hover-btn--buy:active:before{
	opacity: 0.5;
	color: #BABBBD;
}

.product-hover-btn--bookmark {
	border: 3px solid #63a63e;
	height: 38px;
	line-height: 41px;
	color: #32425c;
	transition: 250ms;
}

.product-hover-btn--bookmark:hover {
	border-color: #32425c;
}

.product-hover-btn--bookmark:active {
	opacity: 0.3;
}

.product-body {
	padding: 15px;
	padding-top: 0;
	text-align: center;
}

.product-title {
	margin: 0;
	margin-bottom: 8px;
}

.product-price-old {
	min-height: 25px;
	text-decoration: line-through;
	color: #999999;
	font-family: "PT Sans", "Tahoma",sans-serif;
	font-weight: bold;
}

.product-price {
	width: 140px;
	height: 38px;
	line-height: 38px;
	display: inline-block;
	background: url(../img/price.png) no-repeat;
	color: #fff;
	margin-top: 4px;
	margin-left: 8px;
	font-family: "PT Sans", "Tahoma",sans-serif;
	font-weight: bold;
	font-size: 17px;
}

.products-header {
	background-color: #F7F3EC;
	height: 90px;
	line-height: 90px;
	margin-top: 52px;
	text-transform: uppercase;
}

.products-title,
.vendors-title {
	float: left;
	margin-left: 32px;
	line-height: 38px;
	color: #32425c;
	font-size: 30px;
}
.vendors-title {
	margin-left: 27px;
}

.products-link,
.vendors-link {
	float: right;
	border-radius: 4px;
	width: 254px;
	margin: 24px;
	line-height: 38px;
	text-align: center;
	color: #fff;
	font-size: 14px;
	background-color: #EE3643;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
}


.product {
	border: 1px solid #e5e5e5;
	float: left;
	width: 220px;
	height: 318px;
	list-style: none;
	margin-right: 20px;
	margin-bottom: 20px;

	box-sizing: border-box;
}

.product:last-child {
	margin-right: 0;
}

.products-list {
	margin-top: 20px;
	margin-bottom: 0;
	padding: 0;
}
.bside .product:nth-child(3n+3) {
	margin-right: 0;
}

.product-prise {
	width: 141px;
	height: 38px;
	background: url(../img/prise.png) no-repeat;
	background-position: 40px 260px;
}

.product-img-wrap {
	height: 180px;
	line-height: 180px;
	text-align: center;
}

.product-img {
	vertical-align: middle;
}

.vendors {
	margin-bottom: 82px;
}

.vendors-header {
	background-color: #F7F3EC;
	height: 90px;
	line-height: 90px;
}

.vendors-link {
 float: right;
}

.vendors-list {
	padding: 0;
	margin-top: 20px;
}

.vendor {
	border: 1px solid #e5e5e5;
	list-style: none;
	float: left;
	width: 220px;
	height: 146px;
	margin-right: 20px;
	margin-bottom: 20px;
	text-align: center;
	line-height: 146px;
	position: relative;

	box-sizing: border-box;
	
	transition: 250ms;
}
.vendor a {
	position: absolute;top: 0;bottom: 0;left: 0;right: 0;
}
.vendor:hover {
	box-shadow: 0 7px 20px rgba(0,0,0,.4);
}
.vendor:active {
	box-shadow: 0 1px 15px rgba(0,0,0,.4);
}

.vendor:nth-child(4n+4) {
	margin-right: 0;
}

.vendor:nth-child(n+5) {
	margin-bottom: 0;
}

.vendor img {
	vertical-align: middle;
	transition: 250ms;
}
.vendor:active img {
	opacity: 0.3;
}

.services {
	background-color: #F2F6F8;
	height: 520px;
	line-height: 23px;
}
.services > .inner {
	background-image: url(../img/car.png);
	background-repeat: no-repeat;
	background-position: right 260px;
	
}
.servises-content {
	height: 352px;
	float: left;
	padding-top: 70px;
	padding-bottom: 102px;
}

.servises-main-text {
	margin-bottom: 35px;
	margin-right: 0;
}

.services-description {
	font:normal 13px/24px "PT Sans", "Tahoma", sans-serif;
}

.services-list {
	width: 240px;
	height: 182px;
	float: left;
	list-style: none;
	padding: 35px 0;
	margin: 0;
	position: relative;
	overflow: hidden;
}
.services-list:before {
	content:'';
	width: 1px;
	position: absolute;top: 10px;right: -1px;bottom: 10px;
	box-shadow: 0 0 10px 1px rgba(0,0,0,0.7);
}

.services-item {
	color: #fff;
	text-decoration: none;
}

.services-item:hover {
	
}
.services-list-link {
	display: block;
	height: 60px;
	line-height: 60px;
	padding-left: 22px;
	padding-right: 22px;
	background-color: #32425c;
	color: #fff;
	text-decoration: none;
	font-size: 21px;
	font-weight: bold;
	
	transition: 250ms;
}
.services-list-link:hover {
	background-color: #293449;
}
.services-item--active .services-list-link  {
	background-color: #fff;
	color: #32425c;
}

.services-item-description {
	float: right;
	width: 297px;
	height: 182px;
	margin: 0;
	padding-left: 80px;
	padding-top: 29px;
}

.services-item-title {
	text-transform: uppercase;
	color: #32425c;
	font: normal 36px Cuprum, "Arial", sans-serif;
	font-weight: bold;
}

.services-item-body {
	margin-top: 23px;
	font: normal 13px/24px "PT Sans", "Tahoma", sans-serif;
}

.about-us-contacts {
	margin: 59px 0 85px;
}

.about-us {
	float: left;
	width: 522px;
	padding: 0;
	margin: 0;
}

.contacts {
	float: right;
	width: 300px;
	height: 370px;
	padding: 0;
	margin: 0;
}

.catalog-title {
	background-color: #F1F5F7;
	padding: 32px 30px;
	margin: 0;
	font-size: 30px;
	color: #32425c;
	text-transform: uppercase;
	font-family: Cuprum,"Arial",sans-serif;
	font-weight: bold;

	margin-bottom: 20px;
}

.filter {
	width: 220px;
	float: left;
}

.bside {
	margin-left: 240px;
}

.bside-products {
	padding: 0;
	margin: 0;
	margin-bottom: 50px;
}

.bside-products .product:nth-child(3n+3) {
	margin-right: 0;
}

footer {}

.footer-top {
	background-color: #32425C;
	height: 194px;
}

.footer-top-left {
	width: 326px;
	float: left;
}

.footer-top-right {
	width: 550px;
	float: right;
	margin-top: 37px;
	text-align: right;
}

.footer-nav {
	list-style: none;
	padding: 0;
	margin: 0;
	margin-bottom: 33px;
}

.footer-nav li {
	display: inline-block;
	vertical-align: middle;
	margin-right: 59px;
	list-style: none;
}

.footer-nav li:last-child {
	margin-right: 0;
}

.footer-nav a {
	color: #f1f5f7;
	text-decoration: none;
	transition: 250ms;
}
.footer-nav a:hover {
	text-decoration: underline;
}
.footer-nav a:active {
	opacity: 0.5;
}

.footer-products {
	list-style: none;
	padding: 0;
	margin: 0;
}

.footer-products li {
	display: inline-block;
	vertical-align: middle;
	margin-right: 57px;
	list-style: none;
}

.footer-products li:last-child {
	margin-right: 0;
}

.footer-products a {
	color: #ffd180;
	text-decoration: none;
	transition: 250ms;
}
.footer-products a:hover {
  text-decoration: underline;
}
.footer-products a:active {
  opacity: 0.5;
}


.footer-bottom {
	background-color: #293449;
	height: 108px;
	padding-top: 34px;
	color: #fff;
	font-size: 16px;
	box-sizing: border-box;
}
.footer-bottom a {
	color: #ffd180;
	text-decoration: none;
	transition: 250ms;
}
.footer-bottom a:hover {
	text-decoration: underline;
}
.footer-bottom a:active {
	text-decoration: none;
	color: #ee3643;
}

.footer-bottom-text {
	width: 371px;
	padding-right: 20px;
	float: left;
	line-height: 18px;
}

.footer-bottom-social {
	padding-right: 10px;
	float: left;
	list-style: none;
	padding: 0;
	margin: 0;

}
.footer-bottom-social__item {
	float: left;
	margin-right: 4px;
	overflow: hidden;
}
.footer-bottom-social__link {
	display: inline-block;
	width: 40px;
	height: 40px;
	background-color: #212a3a;
	font-size: 0;
	color:transparent;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-position: center center;
	vertical-align: top;
	transition: background-color 250ms;
}
.footer-bottom-social__link:hover {
	background-color: #ee3643;
}
.footer-bottom-social__link:active {
	background-color: #ee3643;
}

.footer-bottom-social__link--vk {
	background-image: url(../img/vk.png);
}
.footer-bottom-social__link--fb {
	background-image: url(../img/fb.png);
}
.footer-bottom-social__link--inst {
	background-image: url(../img/inst.png);
}

.footer-bottom-links {
	float: right;
	list-style: none;
	padding: 0;
	margin: 0;
	margin-right: 12px;
	line-height: 18px;
}

.footer-bottom-links li {
	display: inline-block;
	vertical-align: middle;
	list-style: none;
	margin-left: 48px;
}
.footer-bottom-links li:first-child {
	margin-left: 0;
}
.footer-bottom-links a {

}

.breadcrumbs {
	padding: 0;
	margin: 17px 0;
}

.breadcrumbs li {
	display: inline-block;
	vertical-align: middle;
	list-style: none;
	margin-right: 40px;
	position: relative;
}
.breadcrumbs li:first-child {
	margin-right: 38px;
}
.breadcrumbs li:before {
	content:'';
	width: 8px;
	height: 12px;
	position: absolute;
	left: -22px;top: 50%;margin-top: -6px;
	background-image: url('../img/breadcrumbs_divider.png');
}
.breadcrumbs li:first-child:before {
	display: none;
}
.breadcrumbs li:last-child {
	margin-right: 0;
}
.breadcrumbs a {
	display: inline-block;
	vertical-align: middle;
	line-height: 12px;
	font-family: "PT Sans", "Tahoma",sans-serif;
	font-size: 13px;
	color: #000;
	text-decoration: none;
	text-transform: uppercase;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

.description {
	margin-top: 60px;
	background-color: #f2f6f8;
	padding-top: 42px;
	padding-bottom: 55px;
}

.about-us-text {
	font-size: 13px;
	font-family: "PT Sans", "Tahoma",sans-serif;
}
.about-us-text p {
	margin: 0;
	margin-bottom: 24px;
}
.about-us-text p:last-child {
	margin-bottom: 0;
}
.about-us-list {
	padding: 0;
	margin: 0;
	list-style: none;
	margin-top: 19px;
	margin-bottom: 35px;
}
.about-us-list li {
	padding-left: 37px;
	position: relative;
	margin-bottom: 16px;
}
.about-us-list li:before {
	content:'';
	width: 25px;
	height: 2px;
	background-color: #fb565a;
	margin-top: -1px;
	position: absolute;left: 0;top: 50%;
}
.contacts-text {
	font-size: 13px;
}
.contacts-img {
	margin-top: 31px;
	margin-bottom: 33px;
}
.btn-main {
	/* height: 38px; */
	display: inline-block;
	background-color: #ee3643;
	padding: 0 25px;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	border-radius: 3px;
	text-decoration: none;

	font: normal 14px Cuprum,"Arial",sans-serif;
	line-height: 38px;
	
	transition: 250ms;
}
.btn-main:hover {
	background-color: #ca2c37;
}
.btn-main:active {
	background-color: #ba2732;
}
.btn-main--block {
	display: block;
}

.logo--footer {
	line-height: 63px;
	margin-bottom: 20px;
	font-size: 30px;
	font-family: Cuprum,"Arial",sans-serif;
	margin-bottom: 30px;
}
.footer-top-text {
	clear: both;
	color: #fff;
}
.aside-header {
	line-height: 38px;
	margin: 0;
	color: #000;
	font-size: 13px;
	font-family: "PT Sans", "Tahoma",sans-serif;
	border-radius: 3px;
	padding: 0 18px;
	margin-bottom: 16px;
	background-color: #f7f3ec;
}
.bside-header {
	min-height: 38px;
	color: #000;
	background-color: #f7f3ec;
	padding: 0 18px;
	margin-bottom: 20px;

	border-radius: 3px;
}
.bside-header-sort {
	height: 38px;
	line-height: 38px;
	float: right;
}
.bside-header-name {
	line-height: 38px;
	font-size: 13px;
	font-family: "PT Sans","Tahoma", sans-serif;
	margin: 0;
}
.sort-btn {
	border: none;
	padding: 0;
	background: none;
	width: 11px;
	height: 10px;
	display: inline-block;
	cursor: pointer;
	position: relative;
	margin-left: 20px;
}
.sort-btn:after {
	transition: 250ms;
}
.sort-btn--down {
	margin-left: 45px;
}
.sort-btn--up:after {
	top: 50%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(198, 194, 189, 0);
	border-top-color: #c6c2bd;
	border-width: 5px;
	margin-left: -5px;
}
.sort-btn--up:hover:after {
	border-top-color: #000;
}
.sort-btn--active.sort-btn--up:after, .sort-btn--up:active:after {
	border-top-color: #ee3643;
}





.sort-btn--down {
	
}

.sort-btn--down:after {
	top: 0;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(198, 194, 189, 0);
	border-bottom-color: #c6c2bd;
	border-width: 5px;
	margin-left: -5px;
}

.sort-btn--down:hover:after {
	border-bottom-color: #000;
}
.sort-btn--active.sort-btn--down:after, .sort-btn--down:active:after {
	border-bottom-color: #ee3643;
}

.sort-type {
	line-height: 1;
	border-bottom: 1px dotted #ee3643;
	display: inline-block;
	vertical-align: middle;
	text-decoration: none;
	font-size: 13px;
	text-transform: uppercase;
	font-family: "PT Sans","Tahoma", sans-serif;
	color: rgba(0,0,0,.3);
	margin-left: 60px;
	
	transition: 250ms;
}
.sort-type:hover {
	border-bottom: 1px solid #ee3643;
	color: rgba(0,0,0,1);
}
.sort-type:active {
	border-bottom: 1px solid rgba(0,0,0,0);
	color: #ee3643;
}

.sort-type:first-child {
	margin-left: 0;
}

.sort-type--active {
	border-bottom: none;
	color: #ee3643;
}

.pagination {
	margin-top: 33px;
	font-size: 0;
}

.pagination-item {
	border: 1px solid #e5e5e5;
	min-width: 38px;
	height: 38px;
	line-height: 38px;
	text-align: center;
	display: inline-block;
	font-size: 13px;
	color: #000;
	text-decoration: none;
	font-family: "PT Sans", "Tahoma",sans-serif;
	margin-right: 10px;
	box-sizing: border-box;
	border-radius: 3px;
	text-transform: uppercase;
	
	transition: 250ms;
}

.pagination-item:hover {
	border-color: #bdc6ca;
}

.pagination-item:active {
	border-color: #ee3643;
}

.pagination-item--next {
	padding: 0 30px;
}

.pagination .pagination-item--active {
	border-color: #ee3643;
	background: #ee3643;
	color: #fff;
}

.filter-block {
	border-bottom: 1px solid #e5e5e5;
	padding-bottom: 25px;
	margin-bottom: 21px;
}

.filter-block:last-of-type {
	border-bottom: none;
}
.filter-block--power {
	margin-bottom: 30px;
}

.filter-block__title {
	margin-bottom: 18px;
	font-size: 17px;
	text-transform: uppercase;
	font-family: "PT Sans", "Tahoma",sans-serif;
	margin-top: 0;
}

.filter-block-list {
	padding: 0;
	margin: 0;
	list-style: none;
}

.filter-block-list__item {
	margin-bottom: 13px;
	color: #000;
	text-transform: uppercase;
	font-family: "PT Sans", "Tahoma",sans-serif;
	font-size: 15px;
}
.filter-block-list__item:last-child {
	margin-bottom: 0;
}


.input-checkbox {
	line-height: 25px;
	position: relative;
	transition: color 250ms;
}

.input-checkbox input {
	width: 0;
	height: 0;
	opacity: 0;
	visibility: hidden;
	position: absolute;left: 0;top: 0;
}

.input-checkbox input ~ span {
	display: inline-block;
	width: 27px;
	height: 25px;
	background-image: url(../img/checkbox.png);
	background-position: left center;
	background-repeat: no-repeat;
	vertical-align: middle;
	transition: opacity 250ms;
	opacity: 0.8;
	margin-right: 3px;
}

.input-checkbox input:checked ~ span {
	background-image: url(../img/checkbox-checked.png);
}
.input-checkbox:hover input ~ span {
	opacity: 1;
}
.input-checkbox:active {
	color: rgba(0,0,0,.4);
}
.input-checkbox:active input ~ span {
	opacity: 0.3;
}



.input-radio {
	line-height: 25px;
	position: relative;
	transition: color 250ms;
}

.input-radio input {
	width: 0;
	height: 0;
	opacity: 0;
	visibility: hidden;
	position: absolute;left: 0;top: 0;
}

.input-radio input ~ span {
	display: inline-block;
	width: 27px;
	height: 25px;
	background-image: url(../img/radio.png);
	background-position: left center;
	background-repeat: no-repeat;
	vertical-align: middle;
	transition: opacity 250ms;
	opacity: 0.8;
	margin-right: 3px;
}

.input-radio input:checked ~ span {
	background-image: url(../img/radio-checked.png);
}
.input-radio:hover input ~ span {
	opacity: 1;
}
.input-radio:active {
	color: rgba(0,0,0,.4);
}
.input-radio:active input ~ span {
	opacity: 0.3;
}

.btn-bordered {
	border: 1px solid #e5e5e5;
	line-height: 36px;
	font-size: 13px;
	font-family: "PT Sans", "Tahoma",sans-serif;
	text-transform: uppercase;
	padding: 0 38px;
	border-radius: 3px;
	background: none;
	cursor: pointer;
}
.range-wrap {
	background-color: #f7f3ec;
	padding: 28px 20px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	margin-bottom: 10px;
}
.range {
	height: 23px;
	position: relative;
}
.range-bg {
	margin-top: -1px;
	height: 2px;
	background-color: #d7dcde;
	position: absolute;left: 0;right: 0;top:50%;
}
.range-bg-active {
	margin-top: -1px;
	height: 2px;
	background-color: #00ca74;
	position: absolute;left: 0;right: 40px;top:50%;
}
.range-dot {
	width: 20px;
	height: 20px;
	margin-top: -10px;
	position: absolute;top: 50%;
	background-color: #fff;
	border-radius: 50%;
	cursor: pointer;
	box-shadow: 0 1px 0px #d7d4ce;
}
.range-dot:before {
	content:'';
	width: 4px;
	height: 4px;
	margin-left: -2px;
	margin-top: -2px;
	background-color: #ababab;
	position: absolute;left: 50%;top: 50%;
	border-radius: 50%;
}
.range-dot--min {
	left: 0;
}
.range-dot--max {
	left: 140px;
}

.range-inputs {
	position: relative;
}

.range-input {
	width: 95px;
	line-height: 38px;
	background-color: #f7f3ec;
	border-radius: 3px;
	text-align: center;
	font-size: 17px;
	font-family: "PT Sans","Tahoma", sans-serif;
}
.range-input:before {
	content:'–';
	width: 30px;
	line-height: 38px;
	position: absolute;
	left: 95px;
	
}
.range-input--min {
	float: left;
}

.range-input--max {
	float: right;
}

.login-in {
	text-align: left;
}
.login-in__name-wrap {
	height: 45px;
	line-height: 45px;
	background-color: #fff;
	position: relative;
}
.login-in__name {
	display: block;
	height: 45px;
	padding-right: 45px;
	line-height: 45px;
	text-align: left;
	padding-left: 48px;
	background-image: url(../img/user.png);
	background-repeat: no-repeat;
	background-position: 14px center;
	font-size: 21px;
}
.login-in__name:hover {
	background-image: url(../img/user--hover.png);
}
.login-in__name:active {
	background-image: url(../img/user.png);
	color: rgba(0,0,0,.3);
}
.login-in__logout {
	width: 45px;
	height: 45px;
	position: absolute;top: 0;right: 0;
	background-image: url(../img/logout.png);
	background-repeat: no-repeat;
	background-position: center center;
}
.login-in__logout:hover {
	background-image: url(../img/logout--hover.png);
}
.login-in__logout:active {
	background-image: url(../img/logout.png);
}
.login-in__links {
	margin-top: 4px;
	padding-left: 18px;
}
a.login-in__link {
	color: #32425c;
	text-decoration: underline;
	display: inline-block;
	font-size: 16px;
	font-family: Cuprum,"Arial", sans-serif;
	transition:250ms
}
a.login-in__link:hover {
	color: #ee3643;
}
a.login-in__link:active {
	color: #32425c;
	opacity: 0.3;
}
.login-in__link:first-child {
	margin-right: 30px;
	position: relative;
}
.login-in__link:first-child:after {
	content:'';
	width: 4px;
	height: 4px;
	background: #32425c;
	margin-top: -2.5px;
	position: absolute;right: -18px;top: 50%;
	border-radius: 50%;
}
.services-title {
	margin-top: 0;
	margin-bottom: 27px;
}
.contacts-title {
	margin-bottom: 29px;
}
.about-us-title {
	margin-bottom: 29px;
}
.about-us-btn {
	min-width: 220px;
	text-align: center;
	box-sizing: border-box;
}
.description-text {
	font-size: 13px;
	line-height: 24px;
	font-family: "PT Sans","Tahoma", sans-serif;
}
.discription-name {
	margin-bottom: 30px;
}