body {
	font:18px normal Cuprum,sans-serif;
	line-height: 24px;
	color: #000000;
}

h2 {font: 18px normal Cuprum,sans-serif;
	line-height: 24px;
	color: #000000;
}

h3 {
	font:18px bold PTSans,sans-serif;
	line-height: 20px;
	color: #000000;
}